[Desktop Entry]
Version=1.0
Type=Application
Name=Nemo Folder Preview
GenericName=Nemo Folder Preview
Comment=Photo folder previews for Linux Mint Cinnamon and Nemo
Comment[fr]=Outil de configuration de Nemo Folder Preview
Categories=Settings;
Exec=nemo-folder-preview-gui
Icon=/usr/share/nemo-folder-preview/icon.png
